@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body,html{
    margin: 0;
    padding: 0;
    background-color: #181818;
    overflow-x: clip;
}

main{
    width: 100vw;
    margin: 0;
    padding: 0;
}

.check{
    position: absolute;
    width: 100vw;
    height: 100%;
}